.box {
    border: 2px solid var(--border-interactive-color);
    background-color: var(--bg-highlight-accent);
    padding: .5em;
    margin: 0 0 1em;
}

.box .heading {
    font-weight: bold;
    margin: 0 0 .5em
}

.box p:last-child {
    margin: 0;
}
