.loader {
    position: absolute;
    width: 100%;
    height: 5px;
    margin: 0 -2rem;
    top: 0;
    overflow: hidden;
}

.loader::after {
    content: ' ';
    display: block;
    position: absolute;
    width: 10%;
    max-width: 2rem;
    height: 100%;
    left: 100%;
    background-color: var(--bg-accent-color);
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}

@keyframes loader {
    from { left: 0; }
    to { left: 100%; }
}
