.logo {
    font-family: 'Comfortaa', cursive;
    user-select: none;
    position: relative;
    display: flex;
    align-items: flex-end;
    line-height: 1;
}

.logo .title {
    display: inline-block;
}

.logo .title div:first-child {
    font-size: 1rem;
}

.logo .title span:last-child {
    font-size: 1.6rem;
}

.logo .number {
    font-size: 3rem;
    line-height: .8;
}