.search {
    display: flex;
    width: 100%;
    position: relative;
}

.search button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.search button i {
    font-size: 36px;
    vertical-align: bottom;
}

.search input[type=search] {
    width: 100%;
    height: 36px;
    padding: 0 1em;
    background-color: var(--bg-interactive-accent-color);
    border: none;
    border-radius: 18px 0 0 18px;
    z-index: 20;
}

.search input[type=search]:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--border-interactive-color);
}

.search input[type=submit] {
    height: 36px;
    border: 2px solid var(--border-interactive-color);
    border-radius: 0 18px 18px 0;
    background-color: var(--bg-interactive-color);
    color: var(--bg-color);
    cursor: pointer;
    z-index: 10;
}

@media(min-width: 640px){
    .search {
        width: auto;
    }

    .search input[type="search"] {
        width: 0;
        padding: 0;
        visibility: hidden;
        transition-property: width, visibility, padding;
        transition-duration: .3s, 0s, .3s;
        transition-delay: .1s, .4s, .1s;
        transition-timing-function: ease-out;
    }

    .search input[type="search"].visible {
        width: 12rem;
        padding: 0 1em;
        visibility: visible;
        transition-property: width, padding;
        transition-duration: .3s;
        transition-delay: 0s;
        transition-timing-function: ease-in;
    }

    .search input[type="submit"] {
        width: 0;
        padding: 0;
        visibility: hidden;
        transform-origin: top left;
        transform: scaleX(-1);
        transition-property: width, padding, visibility, transform;
        transition-duration: .3s, .3s, 0s, .1s;
        transition-delay: .1s, .1s, .1s, 0s;
        transition-timing-function: ease-in;
    }

    .search input[type="submit"].visible {
        width: 6rem;
        padding: .1em .5em;
        visibility: visible;
        transform: scaleX(1);
        transition-property: width, visibility, transform;
        transition-duration: .3s, 0s, .1s;
        transition-delay: 0s, .3s, .3s;
        transition-timing-function: ease-out;
    }
}
