.header {
    display: flex;
    align-items: center;
    margin: 0 0 2em -4em;
}

.header h1 {
    margin: 0 0 0 2rem;
}

.group {
    margin-left: 3.6rem;
}

.group ul {
    list-style-type: none;
    margin-left: 0;
}

.group li {
    margin: 1em 0;
}

.group li a {
    border-bottom: 1px solid;
}

@media (min-width: 640px){
    .header {
        margin-left: 0;
    }

    .group {
        margin-left: 7.6rem;
    }
}
